<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

💫 `immutable` => `can't be changed` <br>
💫 `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‘a’, print the value of a and type(a).

In [3]:
# create empty list, name it 'a'
a =[]

In [4]:
# print the value of a
print("Value of a:", a)

Value of a: []

In [5]:
# print the type of a
print(type(a))

<class 'list'>

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [6]:
languages = ['R','Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [7]:
languages

['R', 'Python', 'SAS', 'Scala', 42]

Using for loop iterate and print all the elements in the list

In [8]:

for i in languages:
    print(i)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [9]:
temp=languages[1]

Print the value of temp and type(temp)

In [10]:
temp
print(type(temp))

<class 'str'>

Append the element 'Java' in the list

In [11]:
languages.append('Java')
languages

['R', 'Python', 'SAS', 'Scala', 42, 'Java']

Remove the element 42 from the list and print the list

In [12]:
languages.remove(42)

### Create a list, colors = [‘Red’, ‘Blue’, ‘White’]

In [13]:
colors = ['Red', 'Blue', 'White']

Append the element 'Black' to colors

In [14]:
colors.append('black')

Append the color 'Orange' to second position (index=1) and print the list

In [15]:

colors.insert(1,'orange')

Print the list

In [16]:
colors

['Red', 'orange', 'Blue', 'White', 'black']

Create another list, colors2 = [‘Grey’, ‘Sky Blue’]

In [17]:
colors2 = ['Grey', 'Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [18]:
colors.extend(colors2)

Print len of colors and its elements

In [19]:
print(len(colors))
colors

7

['Red', 'orange', 'Blue', 'White', 'black', 'Grey', 'Sky Blue']

Sort the list and print it.

In [20]:
colors.sort()
print(colors)

['Blue', 'Grey', 'Red', 'Sky Blue', 'White', 'black', 'orange']

### Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

In [21]:
sent = "Coronavirus Caused Lockdowns Around The World."

Use split function to convert the string into a list of words and save it in variable words and print the same

In [22]:
words = sent.split()
print(words)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [23]:

word_lower = list(map(str.lower, words))
word_lower

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

Check whether ‘country’ is in the list

In [24]:
words in ['country']

False

Remove the element ‘the’ from the list and print the list.

In [25]:
words.remove('The')
words

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'World.']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [26]:
x4 = word_lower[:4]

In [27]:
# print x4
x4

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [28]:
join = ' '.join(x4)
join

'coronavirus caused lockdowns around'

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [29]:
stud_grades = ['A','A','B','C','C','F']

Print the len of stud_grades

In [30]:
print(len(stud_grades))

6

Create a new variable, stud_grades_set = set(stud_grades)

In [31]:
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [32]:

stud_grades_set

{'A', 'B', 'C', 'F'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [33]:

stud_grades = ['A', 'A', 'B', 'C', 'C', 'F']
stud_grades_set = {'A', 'B', 'C', 'F'}


print("Type of stud_grades:", type(stud_grades))
print("Type of stud_grades_set:", type(stud_grades_set))

# Print the corresponding elements
print("Elements of stud_grades:", stud_grades)
print("Elements of stud_grades_set:", stud_grades_set)

Type of stud_grades: <class 'list'>
Type of stud_grades_set: <class 'set'>
Elements of stud_grades: ['A', 'A', 'B', 'C', 'C', 'F']
Elements of stud_grades_set: {'A', 'B', 'C', 'F'}

Add a new element ‘G’ to stud_grades_set

In [34]:

stud_grades_set.add('G')

Add element 'F' to stud_grades_set. and print it.

In [35]:
stud_grades_set.add('F')

stud_grades_set

{'A', 'B', 'C', 'F', 'G'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‘F’ from stud_grades_set

In [36]:
stud_grades_set.remove('F')
stud_grades_set

{'A', 'B', 'C', 'G'}

Print the elements and the length of stud_grades_set

In [37]:
len(stud_grades_set)

4

### Create colors = [‘red’,’blue’,’orange’], and fruits = [‘orange’,’grapes’,’apples’]

In [38]:
colors = ['red','blue','orange'] 
fruits = ['orange','grapes','apples']

Print color and fruits

In [39]:
print(colors)
print(fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [40]:
colors_set = set(colors)
fruits_set = set(fruits)

Find the union of both the sets.

In [41]:
un = colors_set.union(fruits_set)

un

{'apples', 'blue', 'grapes', 'orange', 'red'}

Find the intersection of both the sets

In [42]:

inter = colors_set.intersection(fruits_set)
inter

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [43]:

fruits_set.difference(colors_set)

{'apples', 'grapes'}

## TUPLES

### Create temp = [17, ’Virat’, 50.0]

In [44]:
temp = [17, 'Virat', 50.0]

Iterate through temp and print all the items in temp

In [45]:
for i in temp:
    print(i)

17
Virat
50.0

replace first element with 11 in temp

In [46]:
temp[0]=11
temp

[11, 'Virat', 50.0]

Set temp1 = tuple(temp)

In [47]:
temp1 = tuple(temp)
temp1

(11, 'Virat', 50.0)

Iterate through temp1 and print all the items in temp1.

In [48]:

for i in temp1:
    print(i)

11
Virat
50.0

replace first element with 17 in temp1

In [49]:
new_t =list(temp1)
new_t[0]=17
t= tuple(new_t)
t

(17, 'Virat', 50.0)

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [50]:
city = ("Bangalore", 28.9949521, 72)

Print first element of city

In [51]:
city

('Bangalore', 28.9949521, 72)

Create city2 = (‘Chennai’, 30.01, 74)

In [52]:
city2 = ('Chennai', 30.01, 74)

Create cities which consist of city and city2

In [53]:
cities = city+city2

Print cities

In [54]:
cities

('Bangalore', 28.9949521, 72, 'Chennai', 30.01, 74)

Print type of first element in cities

In [55]:
cities[0]

'Bangalore'

print the type of cities

In [56]:
print(type(cities))

<class 'tuple'>

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [57]:
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

In [59]:
# print(d[0])

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‘actor’] to a new variable actor.

In [62]:
actor = d['actor']

Print the type of actor

In [63]:
print(type(actor))

<class 'str'>

Store the value of d[‘list’] in new variable List.

In [64]:
List = d['list']

Print the type of List.

In [65]:
List

[23, 32, 12]

Create d1 = { ‘singer’ : ‘Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop’}

In [66]:
d1 = { 'singer': 'Kr$na' , 'album': 'Still here', 'genre' : 'hip-hop'}

Merge d1 into d.

In [67]:
d.update(d1)

print d

In [68]:
d

{'actor': 'amir',
 'animal': 'cat',
 'earth': 2,
 'list': [23, 32, 12],
 'singer': 'Kr$na',
 'album': 'Still here',
 'genre': 'hip-hop'}

Print all the keys in d

In [69]:
d.keys()

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [70]:
d.values()

dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [76]:
for key, value in d.items():
    print(f"({key} ----> {value})")

(actor ----> amir)
(animal ----> cat)
(earth ----> 2)
(list ----> [23, 32, 12])
(singer ----> Kr$na)
(album ----> Still here)
(genre ----> hip-hop)

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [77]:

sent

'Coronavirus Caused Lockdowns Around The World.'

In [80]:

sent = "Coronavirus Caused Lockdowns Around The World."
count ={}
for i in sent:
    if i in count:
        count[i]+=1
    else:
        count[i]=1
print(count)

{'C': 2, 'o': 6, 'r': 4, 'n': 3, 'a': 2, 'v': 1, 'i': 1, 'u': 3, 's': 3, ' ': 5, 'e': 2, 'd': 4, 'L': 1, 'c': 1, 'k': 1, 'w': 1, 'A': 1, 'T': 1, 'h': 1, 'W': 1, 'l': 1, '.': 1}